.env
*.bak
rails-app/public/assets
start_*
log/pg_log
db/*.sqlite3
log/*.log
tmp/
*~
#*
.#*
*#
restart.sh
*_MitgliederVerzeichnis/
*memberlist*.csv
*.sql
*.tar.gz.gpg
pg_dump*
.DS_Store
*pg_dump.tar.gz
TODO
*.xml
logfile
update.conf
config/resque-pool.yml
config/secrets.yml.key
node_modules
bin/webpack*
.postcssrc.yml
.babelrc
config/resque-pool.yml
config/secrets.yml
config/webpacker.yml
environment
public/javascripts/
public/packs/
yarn*
config/secrets.yml.key
redis_start
rails-app/google_auth.json