development:
  archive: false
  domain: localhost:3000
  organisation: Johannis Freimaurer Loge Friedrich Wilhelm zur Eintracht Nr. 436 i.O. Bremen
  lodge: Friedrich Wilhelm zur Eintracht
  show_admins: false
  # allowed values for default_workingplan_timespan:
  # - int     == days   (ex: 4)
  # - int+"d" == days   (ex: 4d)
  # - int+"w" == weeks  (ex: 2w)
  # - int+"m" == months (ex: 1m)
  default_workingplan_timespan: 4w
  default_event_location: Kurfürstenallee 15

archive_dev:
  archive: true
  domain: localhost:3000
  organisation: Johannis Freimaurer Loge Friedrich Wilhelm zur Eintracht Nr. 436 i.O. Bremen
  lodge: Friedrich Wilhelm zur Eintracht
  show_admins: false
  default_workingplan_timespan: 4w
  default_event_location: Kurfürstenallee 15

test:
  archive: false
  domain: test.host
  organisation: Johannis Freimaurer Loge Friedrich Wilhelm zur Eintracht Nr. 436 i.O. Bremen
  lodge: Friedrich Wilhelm zur Eintracht
  show_admins: false
  default_workingplan_timespan: 4w
  default_event_location: Kurfürstenallee 15

production:
  archive: false
  domain: fwze.de
  organisation: Johannis Freimaurer Loge Friedrich Wilhelm zur Eintracht Nr. 436 i.O. Bremen
  lodge: Friedrich Wilhelm zur Eintracht
  show_admins: false
  default_workingplan_timespan: 4w
  default_event_location: Kurfürstenallee 15

archive:
  archive: true
  domain: fwze.de
  organisation: Johannis Freimaurer Loge Friedrich Wilhelm zur Eintracht Nr. 436 i.O. Bremen
  lodge: Friedrich Wilhelm zur Eintracht
  show_admins: false
  default_workingplan_timespan: 4w
  default_event_location: Kurfürstenallee 15