table.calendar {
  th {
    text-align: center;
    border: 1px solid $dark-color;
  }
  tbody tr {
    min-height: 6em;
    background-color: $white;
  }

  .day_names th {
    width: 14%;
  }

  .day {
    border: 1px solid $light-color;
    padding: 0;
    vertical-align: top;

    div {
      padding: 2px;
      margin: 2px;
      min-height: 7em;
      height: 100%;
      cursor: pointer;
    }

    nav {
      span {
        font-weight: bold;
      }
      a {
        color: $dark-color;
        float: right;
        display: none;
        text-decoration: none;
      }
    }
    &:hover {
      div {
        margin: 0;
        border: 2px solid $main-color;
      }
      nav a {
        display: inline;
      }
    }
  }

  .day.today {
    color: $white;
    background-color: $main-color;
    a {
      color: $white;
    }
  }

  .day.weekend {
    nav span {
      font-weight: normal;
    }
    a {
      color: $white;
    }
  }

  .day.otherMonth {
    nav span {
      font-weight: normal;
    }
    color: $link-color;
    background-color: $gray;
    font-style: italic;
    a {
      color: $link-color;
    }
  }

  nav.day-of-the-week {
    margin: 0;
    border-bottom: 1px solid $light-color;
  }

  ul {
    margin: 1ex 0 0 1em;
    padding: 0 0 0 1ex;
    line-height: 1;
  }

  td.active {
    color: $white;
    background-color: $dark-color;
  }
}

table.calendar.week {
  tr:hover {
    background-color: $gray;

    & td:nth-of-type(2n) {
      background-color: darken($gray, 10%);
    }
  }

  tr.now {
    background-color: lighten($light-color, 10%);
    td {
      color: $white;
    }

    & td:nth-of-type(2n) {
      background-color: $light-color;
    }
  }

  th.time {
    width: 2%;
  }

  th.dow {
    width: 14%;
  }

  td.time {
    color: $link-color;
    font-style: italic;
    text-align: right;
  }

  .day {
    padding: 0 .5ex;
    border-width: 1px 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: $line-height;
    }

    li.event {
      @include radii(2px);
      border: 1px solid rgba($link-color, 0.5);
      margin: 1px 0;
      @include linear-gradient(lighten($light-color, 33%), $light-color);

      a {
        display: block;
        background: transparent 1px 1px no-repeat;
        padding-left: 20px;
      }
    }
    li.event.whole-day      a { background-image: image-url("event_all_day.png"); }
    li.event.type-birthday  a { background-image: image-url("event_birthday.png"); }

    a {
      color: $black;
      text-decoration: none;
    }
  }

  td:nth-of-type(2n) {
    background-color: $gray;
  }
  td.active:nth-of-type(2n) {
    background-color: lighten($dark-color, 10%);
  }
}

div.event {
  position: relative;
  padding:  1em 1em 1em 10em;
  background-color: $white;
  margin: 2em 0 1em;
  @include shadow($radius: 10px);
  @include radii();

  .date {
    border: 2px solid $main-color;
    position: absolute;
    left: 1em;
    top: 1em;
    width: 6em;

    span {
      display: block;
      text-align: center;
      line-height: 1;
    }
  }

  span {
    &.month {
      padding: 5px 7px;
      background-color: $main-color;
      color: $white;
    }

    &.day {
      padding: 4px 7px;
      background-color: $gray;
      font-size: 2.5em;
      font-family: "Bree Serif", Georgia, serif;
      font-weight: bold;
    }

    &.dow {
      padding: 2px 7px;
      background-color: $gray;
      font-weight: bold;
    }

    &.year {
      padding: 2px 7px;
      background-color: $gray;
    }
  }

  h3 {
    margin: 0 0 1em;

    span {
      font-weight: normal;
      padding-right: 1em;
    }
  }

  p.label {
    float: left;
    width: 12em;
    margin: 0;
  }

  p.description {
    margin: 1ex 0 1ex 14em;
  }

  p.meta {
    color: $light-color;
    text-align: right;
    font-style: italic;
    font-size: 0.9em;
  }
}
